:root {
  --background: #333;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  cursor: pointer;
}

.marker {
  height: 5px;
  width: 5px;
  background: red;
  z-index: 1;
  position: fixed;
}

.circular-input {
  position: relative;
}

.circular-input__value {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2rem;
  color: palevioletred;
  text-shadow: 0 0 5px palevioletred;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-input__value__wrapper {
  padding: 5px;
  background: var(--background);
}

.circular-input__track {
  fill: red;
}

.circular-input__drag-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: hotpink;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
}